{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "parser": "@babel/eslint-parser",
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
