@import 'settings';

@keyframes drawer-translate {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.c-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  max-width: rem(290);
  height: 100vh;
  overflow: hidden;
  animation: drawer-translate 300ms 150ms 1 both;
  z-index: 2;
}
