@import 'settings';

@keyframes map-marker-pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
  }
}

.c-marker {
  display: inline-block;
  vertical-align: middle;
  width: rem(33);
  height: rem(33);
  border: rem(3) solid $white;
  border-radius: 100%;

  &.marker-sm {
    width: rem(22);
    height: rem(22);

    &.marker-community {
      border: none;
    }
  }

  &.marker-active {
    border-color: $body-color;

    &.marker-community:before {
      background: $body-color;
    }
  }

  &.user-marker {
    width: rem(20);
    height: rem(20);
    border: none;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: rem(3) solid $white;
      border-radius: 100%;
      background: $black;
      animation: map-marker-pulse 800ms 6 alternate ease-in-out;
      content: '';
    }
  }

  &.marker-community {
    border-color: transparent;
    border-radius: 0;

    &:before {
      position: absolute;
      top: #{-1 * rem(3)};
      left: #{-1 * rem(3)};
      width: calc(100% + #{rem(6)});
      height: calc(100% + #{rem(6)});
      background: $white;
      clip-path: polygon(50% 0, 0 100%, 100% 100%);
      content: '';
    }

    &:after {
      position: absolute;
      top: rem(4);
      left: rem(2);
      width: calc(100% - #{rem(4)});
      height: calc(100% - #{rem(4)});
      background: $border-color-1;
      clip-path: polygon(50% 0, 0 100%, 100% 100%);
      content: '';
    }
  }

  &.marker-business {
    background: $border-color-1;
  }

  &.marker-blue {
    &:not(.marker-community),
    &.marker-community:after {
      background: $blue-1;
    }
  }

  &.marker-yellow {
    &:not(.marker-community),
    &.marker-community:after {
      background: $primary;
    }
  }
}
