@import 'settings';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: swap;
}

label {
  @include font-size($font-size-s);
  color: $text-color-4;

  &.required:after {
    content: ' *';
  }

  input[type='checkbox'] + & {
    @include font-size($font-size-base);
    color: currentColor;
  }
}

a:not(.btn-primary):not(.btn-secondary):not(.btn-black) {
  color: $body-color;
}

.font-base {
  @include font-size($font-size-base);
}

.font-s {
  @include font-size($font-size-s);
}

.background-black {
  color: $text-color-3;
  background: $background-color-1;

  a:not(.btn-primary):not(.btn-secondary):not(.btn-black) {
    color: $white;
  }

  .form-control {
    color: $input-color-secondary;

    &:not(.is-invalid) {
      border: $input-border-width solid $input-border-color-secondary;
    }

    &:focus {
      color: $input-color-secondary;
      border-color: $input-focus-border-color-secondary;
      @if $enable-shadows {
        @include box-shadow($input-box-shadow-secondary, $input-focus-box-shadow-secondary);
      } @else {
        // Avoid using mixin so we can pass custom focus shadow properly
        box-shadow: $input-focus-box-shadow-secondary;
      }
    }
  }
}

.background-white {
  color: $body-color;
  background: $body-bg;
}

// The following styles are necessary for the dialog library
@keyframes dialog-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dialog-container > :first-child {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba($black, 0.3);
  z-index: 1;
  animation: dialog-fade-in 200ms 1 both;
}

.dialog-container[aria-hidden='true'] {
  display: none;
}
