@import 'settings';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: swap;
}

label {
  @include font-size($font-size-s);
  color: $text-color-4;

  &.required:after {
    content: ' *';
  }

  input[type='checkbox'] + & {
    @include font-size($font-size-base);
    color: currentColor;
  }
}

.font-base {
  @include font-size($font-size-base);
}

.font-s {
  @include font-size($font-size-s);
}

.background-black {
  color: $text-color-3;
  background: $background-color-1;

  a:not(.btn-primary):not(.btn-secondary):not(.btn-black) {
    color: $white;
  }

  .form-control {
    color: $input-color-secondary;

    &:not(.is-invalid) {
      border: $input-border-width solid $input-border-color-secondary;
    }

    &:focus {
      color: $input-color-secondary;
      border-color: $input-focus-border-color-secondary;
      @if $enable-shadows {
        @include box-shadow($input-box-shadow-secondary, $input-focus-box-shadow-secondary);
      } @else {
        // Avoid using mixin so we can pass custom focus shadow properly
        box-shadow: $input-focus-box-shadow-secondary;
      }
    }
  }
}

.background-white {
  color: $body-color;
  background: $body-bg;
}
