@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'functions';

// Colors

$primary: #f5cf00;
$blackish: #111111;
$grey-1: #757575;
$grey-2: #d6d6d6;
$danger: #e61700;
$blue-1: #0030ff;
$blue-2: #005bff;
$green-1: #00ab32;

$text-color-1: #222222;
$text-color-2: $primary;
$text-color-3: #d8d8d8;
$text-color-4: $grey-1;

$theme-colors: (
  'primary': $primary,
  'secondary': $white,
  'black': $blackish,
  'danger': $danger,
);

// Body

$body-bg: white;
$body-color: $text-color-1;

$text-muted: $text-color-4;

$background-color-1: $blackish;
$background-color-2: #323232;

$border-color-1: $grey-1;
$border-color-2: $primary;
$border-color-3: $white;

// feSpecularLighting
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25,
    ),
    2: (
      $spacer * 0.5,
    ),
    3: $spacer,
    4: (
      $spacer * 1.5,
    ),
    5: (
      $spacer * 3,
    ),
    6: (
      $spacer * 4.5,
    ),
    7: (
      $spacer * 6,
    ),
  ),
  $spacers
);

// Typography
$font-family-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$font-size-base: rem(20);
$font-size-s: rem(18);

$line-height-base: 1.33;

// Grid containers

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
);

// Buttons

$btn-font-family: $font-family-base;
$btn-font-size: $font-size-base;

$btn-padding-y: rem(9);
$btn-padding-x: rem(10);

$btn-block-spacing-y: map-get($spacers, 3);

// $btn-border-radius: 0;
// $btn-border-radius-sm: $btn-border-radius;
// $btn-border-width: rem(2);

// Forms

$input-font-family: $font-family-base;
$input-font-size: $font-size-base;
$input-font-weight: $font-weight-base;
$input-line-height: $line-height-base;

$input-height: rem(50);

$input-bg: transparent;
$input-focus-bg: $input-bg;

$input-color: $body-color;
$input-color-secondary: $white;
$input-focus-color: $input-color;
$input-focus-color-secondary: $white;

$input-border-color: $border-color-1;
$input-border-color-secondary: $border-color-3;
$input-focus-border-color: $body-color;
$input-focus-border-color-secondary: $border-color-2;

$input-box-shadow: none;
$input-box-shadow-secondary: none;
$input-focus-box-shadow: 0 0 0 $input-btn-focus-width rgba($border-color-1, 0.25);
$input-focus-box-shadow-secondary: 0 0 0 $input-btn-focus-width rgba($border-color-3, 0.25);

$form-text-margin-top: map-get($spacers, 2);

$custom-select-height: rem(50);
$custom-select-border-color: $input-border-color;
$custom-select-focus-border-color: $input-focus-border-color;
$custom-select-box-shadow: none;
$custom-select-focus-box-shadow: $input-focus-box-shadow;
$custom-select-bg-size: 12px 15px;
$custom-select-indicator-color: $border-color-1;
$custom-select-indicator: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'><path fill='#{$custom-select-indicator-color}' d='M2 0L0 2h4zm0 5L0 3h4z'/></svg>");
$custom-select-background: escape-svg($custom-select-indicator) no-repeat right
  $custom-select-padding-x center / $custom-select-bg-size;

$custom-control-gutter: map-get($spacers, 3);
$custom-control-indicator-size: rem(30);
$custom-control-indicator-border-color: $input-border-color;
$custom-control-indicator-checked-border-color: $input-border-color;
$custom-control-indicator-active-border-color: $input-border-color;
$custom-control-indicator-focus-border-color: $input-border-color;
$custom-control-indicator-bg: transparent;
$custom-control-indicator-active-bg: transparent;
$custom-control-indicator-checked-bg: transparent;
$custom-control-indicator-checked-disabled-bg: $input-disabled-bg;
$custom-control-indicator-checked-color: $body-color;
$custom-checkbox-indicator-icon-checked: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'><path fill='#{$custom-control-indicator-checked-color}' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/></svg>");
$custom-control-indicator-focus-box-shadow: $input-focus-box-shadow;

$custom-control-indicator-bg-size: 75% 75%;

$custom-radio-indicator-icon-checked: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='-4 -4 8 8'><circle r='3' fill='#{$custom-control-indicator-checked-color}'/></svg>");

$custom-switch-width: rem(50);
$custom-switch-indicator-border-radius: rem(15);
$custom-switch-indicator-size: rem(26);

// Controls

// $custom-control-gutter: map-get($spacers, 3);
// $custom-control-indicator-bg: transparent;
// $custom-control-indicator-checked-disabled-bg: rgba($primary, 0.25);
// $custom-control-indicator-checked-bg: $primary;
// $custom-control-indicator-checked-border-color: $primary;
// $custom-control-indicator-border-color: $primary;
// $custom-control-indicator-active-bg: lighten($primary, 60%);
// $custom-control-indicator-active-border-color: $custom-control-indicator-border-color;
// $custom-control-indicator-focus-box-shadow: $box-shadow-3;
// $custom-control-indicator-focus-border-color: lighten($primary, 25%);

// $custom-switch-width: rem(36);

// $custom-select-height: rem(22);
// $custom-select-border-width: rem(1);
// $custom-select-border-radius: 0;
// $custom-select-bg: transparent;
// $custom-select-indicator-padding: map-get($spacers, 4);
// $custom-select-font-family: $font-family-base;
// $custom-select-font-size: $font-size-xxs;
// $custom-select-font-weight: $font-weight-bold;
// $custom-select-padding-x: map-get($spacers, 1);
// $custom-select-padding-y: 0;
// $custom-select-border-color: $primary;
// $custom-select-focus-border-color: $custom-select-border-color;
// $custom-select-focus-box-shadow: $box-shadow-3;
