<% content_for :title do %>
<%= t('views.shared.new_user') %>
<% end %>

<%= form_for(@user, url: new_admin_user_path(@user), class: 'mt-5') do |f| %>
<%= render partial: 'form', locals: { f: f } %>

<div class="form-group mt-5">
  <%= f.submit t('views.shared.save'), class: "btn btn-block btn-black" %>
</div>
<% end %>